extends layout

block content
  h1= title
  p Hi, this is Sri Nihitha Mandadi
  - let hillStations = [{ location: "Shimla", name: "Himachal Pradesh", maxtemperature: 25 },{ location: "Darjeeling", name: "West Bengal", maxtemperature: 20 },{ location: "Ooty", name: "Tamil Nadu", maxtemperature: 22 }]
  div(class="container-fluid")
  div(class="row")
    each station, index in hillStations  
      div(class="col-sm-2", onclick=`buy(${index})`)
        p #{station.name}
        p #{station.location}
        p Max Temperature: #{station.maxtemperature}°C
  script.
    function buy(index) {
    alert("You purchased item " + index);}